<launch>
  <!-- include empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" value="$(find cepheus_gazebo)/worlds/cepheus.world"/>
	<arg name="gui" value="true"/>
	</include>



  <!-- spawn robot-->
  <group ns="cepheus">
    <include file="$(find cepheus_gazebo)/launch/cepheus.launch" pass_all_args="true">
    </include>
  </group>
  <group ns="assist_robot">
    <include file="$(find cepheus_gazebo)/launch/assist_robot.launch" pass_all_args="true">
    </include>
 </group>

</launch>